site_name: Heterarchical Granular Dynamics

theme:
  name: "material"

plugins:
  - mkdocstrings
  - include-markdown

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - markdown_include.include:
        base_path: json
nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Examples: examples.md
  - Troubleshooting: troubleshooting.md
  - Reference: reference.md